---
import Body from "../layout/Body.astro";
import Main from "../layout/Main.astro";
import Footer from "../layout/Footer.astro";
import PageContainer from "../layout/PageContainer.astro";

import Navigation from "../layout/Navigation.astro";
import HomeHero from "../components/HomeHero.astro";
import PortfolioLinks from "../components/PortfolioLinks.astro";
import Qualities from "../components/Qualities.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- meta tags would go here -->

    <title>Home | Designo Design Agency</title>
  </head>
  <Body>
    <Navigation />
    <PageContainer>
      <HomeHero />
      <Main>
        <PortfolioLinks
          includedTypes={["web-design", "app-design", "graphic-design"]}
        />
        <Qualities />
        <Footer />
      </Main>
    </PageContainer>
  </Body>
</html>
