---
import Body from "../layout/Body.astro";
import Main from "../layout/Main.astro";
import Footer from "../layout/Footer.astro";

import Navigation from "../layout/Navigation.astro";
import LocationsDetails from "../components/LocationsDetails.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <title>Our locations | Designo Design Agency</title>
  </head>
  <Body>
    <Navigation />
    <Main>
      <LocationsDetails />
      <Footer />
    </Main>
  </Body>
</html>
