---
import Button from "./Button.astro";
---

<section class="locations-links">
  <article class="location-link">
    <div class="location-link__image">
      <img src="/images/about/illustration-canada.svg" alt="" />
    </div>
    <div class="location-link__text">
      <h3>Canada</h3>
      <Button
        isLink={true}
        title="See our location in Canada"
        variation="inverted"
        to="/locations#location-canada"><p>See location</p></Button
      >
    </div>
  </article>
  <article class="location-link">
    <div class="location-link__image">
      <img src="/images/about/illustration-australia.svg" alt="" />
    </div>
    <div class="location-link__text">
      <h3>Australia</h3>
      <Button
        isLink={true}
        title="See our location in Australia"
        variation="inverted"
        to="/locations#location-australia"><p>See location</p></Button
      >
    </div>
  </article>
  <article class="location-link">
    <div class="location-link__image">
      <img src="/images/about/illustration-united-kingdom.svg" alt="" />
    </div>
    <div class="location-link__text">
      <h3>United Kingdom</h3>
      <Button
        isLink={true}
        title="See our location in UK"
        variation="inverted"
        to="/locations#location-uk"><p>See location</p></Button
      >
    </div>
  </article>
</section>

<style>
  .locations-links {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 8rem;

    @media screen and (min-width: 85.375em) {
      flex-direction: row;

      justify-content: center;

      gap: 12rem;

      margin: 0 16vw;
    }
  }

  .location-link {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 3.2rem;
  }

  .location-link__image {
    position: relative;

    &::before {
      position: absolute;
      content: "";

      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      background-image: url("/images/bg/bg-pattern-small-circle.svg");
      background-repeat: no-repeat;
      background-size: contain;

      z-index: -1;
    }
  }

  .location-link__text {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 2.4rem;
  }
</style>
