---
import "@fontsource-variable/jost";
import "../../src/styles/styles.css";
---

<body>
  <slot />
</body>

<style>
  body {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
  }
</style>
